@charset "UTF-8";

/* 基本設定 */
* {
    box-sizing: border-box
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: auto
}

body {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.6rem;
    height: auto;
    color: #797e81;
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: inherit;
    text-decoration: none
}

a:visited {
    color: inherit;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    padding: 0
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

/* ページ遷移アニメーション */

/* ページ遷移の際に一旦真っ白になる */
#white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    display: none;
    transition: 0.5s opacity;
    z-index: 12000
}

#white.fadeout {
    opacity: 1;
    display: block
}

/* 真ん中から左の幕 */

.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: #090d24;
    animation: curtainOpen 1s forwards;
    animation-delay: 2s;
    z-index: 9999
}

#left {
    position: relative;
    z-index: 10000;
    width: 100%;
    height: 100%
}

/* 真ん中から右の幕 */

.right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 50vh;
    background: #090d24;
    animation: curtainOpen 1s forwards;
    animation-delay: 2s;
    z-index: 9999
}

#right {
    position: relative;
    z-index: 10000;
    width: 100%;
    height: 100%
}

@keyframes curtainOpen {
    0% {
        width: 100vw
    }

    100% {
        width: 0;
        visibility: hidden
    }
}

/* メインコンテンツ */

main {
    padding-top: 750px;
    font-family: arial;
    min-height: 100%
}

/* ヘッダー */

.app-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 750px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    z-index: 1000
}

.header-content {
    position: relative;
    height: 100%;
    width: 100%
}

.app-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 8rem;
    width: 40rem;
    padding: 0 16px;
    pointer-events: none
}

/* 元の文字 */

#large-toolbar {
    position: absolute;
    bottom: 0;
    transform-origin: left top;
    margin-bottom: 16px;
    width: 100%
}

.small-title,
.large-title {
    transform-origin: left top;
    white-space: nowrap;
    flex: 1;
    flex-basis: 1e-9px;
    overflow: hidden;
    line-height: 1.5;
    position: relative
}

/* 変化後の文字 */

.small-title {
    margin-left: 14px;
    opacity: 0
}

.small-title a {
    cursor: pointer
}

.small-title a img {
    height: 4.2rem;
    width: 30rem
}

.large-title {
    will-change: transform, opacity;
    margin-left: 64px
}

.large-title a {
    cursor: pointer
}

.large-title a img {
    height: 5.6rem;
    width: 40rem
}

/* 背景画像 */

.background-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.background {
    pointer-events: none;
    position: absolute;
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    will-change: transform, opacity
}

/* 変化後画像 */

#background-back {
    background-image: url(../images/background2.webp);
    background-position: left center;
    opacity: 0
}

/* 変化前画像 */

#background-front {
    background-image: url(../images/top_image.webp);
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 100%
}

/* ヘッダー右上SNS */

.sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -60px;
    gap: 0 50px
}

.sns li a img {
    width: 40px;
    height: 40px
}

.sns li a.disabled {
    position: relative;
    cursor: not-allowed
}

/* SNSにマウスオーバー時 */
.sns li a.disabled:hover:before {
    content: '作成中です。';
    position: absolute;
    color: #5d627b;
    background: #fff;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .22);
    font-size: 1.5rem;
    font-family: Georgia, serif;
    ;
    text-align: center;
    left: 50%;
    bottom: -250%;
    transform: translateX(-50%);
    width: 100px
}

@media screen and (min-width:556px) and (max-width:800px) {
    main {
        padding-top: 600px
    }

    .app-header {
        height: 600px
    }

    .app-toolbar {
        height: 6rem;
        width: 40rem
    }

    .small-title img {
        height: 3rem;
        width: 20rem
    }

    .large-title img {
        height: 4rem;
        width: 26.5rem
    }

    .sns {
        margin-top: -50px
    }
}

@media screen and (max-width:555px) {
    main {
        padding-top: 200px
    }

    .app-header {
        height: 200px
    }

    .app-toolbar {
        height: 60px;
        width: 200px
    }

    #large-toolbar {
        width: 270px
    }

    #small-toolbar {
        width: 205px;
        margin-left: -14px
    }

    #large-title {
        height: 60px
    }

    #small-title {
        height: 40px
    }

    .small-title a img {
        height: 38px;
        width: 100%
    }

    .large-title {
        margin-left: 0
    }

    .sns {
        margin-top: -49px;
        margin-right: 20px;
        gap: 0 20px
    }

    .sns li a.disabled:hover:before {
        font-size: 1.1rem;
        width: 70px;
        bottom: -200%
    }
}