@charset "UTF-8";

/* 上に移動ボタン */
.to-top {
    display: block;
    position: relative;
    margin-bottom: -10%
}

.to-top .inner {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px)
}

.to-top a {
    background-color: rgba(0, 0, 0, .6);
    opacity: .5;
    border-radius: .125em;
    bottom: 15px;
    display: block;
    height: 28px;
    margin: 0 0 0 auto;
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-align: center;
    transition: background-color .2s ease-out 0s;
    width: 36px;
    z-index: 50
}

.to-top svg {
    height: 11px;
    position: relative;
    top: -3px;
    width: 19px
}

/* フッター */

/* 全体 */
#footer {
    position: relative;
    margin-top: 10%;
    padding: 3% 0 20px;
    background-color: #090d24;
    background-size: cover
}

#footer_contact {
    width: 91.25%;
    max-width: 1168px;
    padding: 30px 0;
    position: relative;
    margin: auto;
    background: #fff;
    background-size: cover
}

/* タイトル削除のため */

/* h2 {
    text-align: center
}

h2 .en {
    font-size: 50px;
    letter-spacing: 8px
} */

/* お問い合わせ部分 */
#footer .inner {
    margin: auto;
    width: 91.25%;
    max-width: 960px
}

/* お問い合わせボタン */
.footer-link-content {
    display: block;
    width: 35%;
    min-width: 250px;
    margin: 40px auto 20px auto;
    transform-style: preserve-3d
}

button.link-btn {
    height: 80px;
    font-size: 1.8rem;
    line-height: .3rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 100%;
    max-width: 370px;
    color: #fff;
    font-weight: 700;
    border-radius: 50em;
    transition: all 0.5s;
    will-change: transform, filter;
    background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
}

button.link-btn:before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
    line-height: 1;
    position: absolute;
    top: calc(50% - 0.8rem);
    right: 1rem;
    margin: 0;
    padding: 0;
    content: "\f30b"
}

/* ボタンのマウスオーバー時 */
button.link-btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transform: scale(1.1)
}

/* ボタンクリック時 */
button.link-btn:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%)
}

/* 文字アイコン */
footer i {
    font-size: 3rem;
    margin-right: .6rem
}

/* お問い合わせ下半分 */

.middle {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.box {
    width: 0.5rem;
}

/* 電話でのお問い合わせ */
.tell-content {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 電話アイコン */
.tell-content i {
    color: #000;
    font-weight: 700
}

/* 電話説明 */
.footer_contact_tel_title {
    font-size: 1.6rem;
    padding-top: 2%;
}


/* 電話番号 */
.telme {
    color: #000;
    font-weight: 700;
    font-size: 3rem
}


/* メールコンテント削除 */
/* .mail-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2%;
    gap: 0 20px
}

.mail-content i {
    color: #000;
    font-weight: 700
}

.footer_contact_mail_title {
    font-size: 1.8rem;
    padding-top: 2%
}

.mailme {
    color: #000;
    font-weight: 700;
    font-size: 3rem
} */

/* ECサイトリンク */
.site-content {
    display: flex;
    justify-content: end;
}

.site-content .button {
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 240px;
    height: 58px;
    border: 1px solid #0e192d;
    color: inherit !important;
    letter-spacing: .01em;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer
}

.site-content .button__text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 4px 0 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.3;
    z-index: 1
}

.site-content .button:after,
.site-content .button:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #0e192d
}

.site-content .button:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(90deg);
    transform-origin: right
}

.site-content .button:after {
    top: 50%;
    right: -20px;
    width: 60px;
    height: 1px
}

.site-content .button:hover {
    background-color: #0e192d
}

.site-content .button:hover .button__text {
    color: #fff
}

.site-content .button:hover:after,
.site-content .button:hover:before {
    background-color: #fff
}

.site-content .button:hover:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(90deg);
    transform-origin: right
}

.site-content .button:hover:after {
    top: 50%;
    right: 20px;
    width: 25px;
    height: 1px
}

/* フッター下部分 */
.footer-nav {
    margin-top: 20px
}

/* 住所 */
.footer-nav #adress {
    font-family: arial;
    color: #f2f2f2;
    font-size: 1.6rem
}

/* プライバシーポリシー */
.footer-nav #policy div a span {
    font-family: arial;
    color: #f2f2f2;
    font-size: 1.6rem
}

/* コーピーライト */
#footer #copy {
    color: #bdbdbd;
    font-size: 1.6rem;
    text-align: center
}

@media screen and (max-width:870px) {

    .footer-link-content {
        margin-top: 0;
    }

    /* 電話お問い合わせ説明非表示 */
    .footer_contact_tel_title {
        display: none
    }

    /* メールでのお問い合わせ削除 */
    /* .footer_contact_mail_title {
        display: none
    } */
}

/* スマフォ */
@media screen and (max-width:600px) {
    .footer-link-content {
        margin-top: 0;
    }

    button.link-btn {
        height: 60px;
        font-size: 1.6rem;
    }

    .site-content {
        margin-top: 4%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .middle {
        display: block;
        padding-top: 10px;
    }

    .tell-content {
        justify-content: center;
    }

    footer i {
        font-size: 2rem
    }

    .mailme {
        font-size: 2rem
    }

    .telme {
        font-size: 2.5rem
    }
}