@charset "UTF-8";

.block {
    height: 2rem
}

.service-contents {
    position: relative;
    z-index: 0;
    margin: 200px auto 0 auto;
    width: 95%;
    max-width: 1600px;
}

.service-contents .service-header {
    width: 100%;
}

.service-contents h2.service-heading {
    width: 50%;
    position: relative;
    margin: 0 25% 0 25%;
    text-align: center;
    display: inline-block;
}

.service-contents h2.service-heading:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000
}

.service-contents h2.service-heading span {
    height: 100%;
    position: relative;
    padding: 0 1em;
    font-size: 5rem;
    background: #fff;
    vertical-align: middle
}

.service-contents .inner {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 100px auto 0;
}

.service-description h4 {
    margin-top: 20px;
    font-size: 2rem
}

.service-description h3 {
    font-size: 4rem
}

.service-description .service-main-sentence {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1rem;
    font-family: Georgia, serif
}

.service-description .service-main-sentence .service-url {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    padding-right: 2rem;
    text-decoration: underline
}

.service-description {
    position: absolute;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    padding: 10px 30px;
    height: 60%;
    width: 50%;
    background-color: #fff;
}

.service-image {
    position: absolute;
    height: 60%;
    width: 45%;
    z-index: -1;
}

.service-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inner.right .service-description{
    bottom: 0;
    right: 5%;
}

.inner.right .service-image {
    top: 0;
    left: 5%;
}

.inner.left .service-description{
    bottom: 0;
    left: 5%;
}

.inner.left .service-image {
    top: 0;
    right: 5%;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .service-contents {
        margin: 200px auto 0 auto;
        width: 95%;
    }
    .service-contents h2.service-heading {
        width: 70%;
        margin: 0 15% 0 15%;
    }
    .service-contents .inner {
        width: 80%;
        height: 500px;
        margin: 100px auto 0;
    }
}