@charset "UTF-8";

.block {
    height: 1rem
}

.intro-contents {
    position: relative;
    z-index: 0;
    margin: 80px auto 0 auto;
    width: 95%;
    max-width: 1600px;
}

.intro-contents .intro-header {
    width: 100%;
}

.intro-contents h2.intro-heading {
    width: 50%;
    position: relative;
    margin: 0 25% 0 25%;
    text-align: center;
    display: inline-block;
}

.intro-contents h2.intro-heading:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000
}

.intro-contents h2.intro-heading span {
    height: 100%;
    position: relative;
    padding: 0 1em;
    font-size: 5rem;
    background: #fff;
    vertical-align: middle
}

/* introduce画像削除 */
/* .wrapper {
    position: relative;
    width: 50%;
    height: 200px;
    margin-left: auto;
    z-index: 999;
    opacity: 0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    transition: 0.5s opacity 0.5s
}

.wrapper.active {
    opacity: 1
}

.wrapper .image {
    width: 100%;
    height: 100%
}

.wrapper video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wrapper svg text {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px
}

.wrapper svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask)
}

.wrapper svg rect {
    height: 600px;
    fill: #fff
} */

.intro-contents .inner {
    position: relative;
    display: flex;
    gap: 50px;
    width: 85%;
    margin: 80px auto 0;
}

.intro-image {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s, opacity 1.5s;
}

.intro-image:hover {
    transform: rotateY(180deg)
}

.intro-image div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden
}

.front {
    width: 100%;
    height: 100%;
    z-index: 2
}

.back {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg)
}

.intro-image .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.intro-image .back img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg)
}

.intro-contents .inner .intro-main {
    display: inline-table;
    width: 100%;
    font-size: 2rem;
    letter-spacing: .3rem;
    font-family: Georgia, serif;
}

.intro-main table td, .intro-main table th{
    border: 1px #ddd solid;
}

.intro-main table th{
    text-align: center;
    background-color: #3596ba;
    color: #fff;
}

.intro-main table td{
    padding-left: 15px;
}
@media screen and (max-width:1200px) {
    .intro-contents h2.intro-heading {
        width: 70%;
        margin: 0 15% 0;
    }
}
@media screen and (max-width:800px) {
    .intro-contents h2.intro-heading {
        width: 80%;
        margin: 0 10% 0;
    }

    .intro-contents h2.intro-heading span {
        font-size: 4rem;
    }
}
@media screen and (max-width:400px) {
    .intro-contents h2.intro-heading {
        width: 85%;
        margin: 0 7.5% 0;
    }

    .intro-contents h2.intro-heading span {
        font-size: 3rem;
    }
    
}