@charset "UTF-8";

.block {
    height: 1rem
}

.intro-contents {
    position: relative;
    margin-top: 80px
}

/* introduce画像削除 */
/* .wrapper {
    position: relative;
    width: 50%;
    height: 200px;
    margin-left: auto;
    z-index: 999;
    opacity: 0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    transition: 0.5s opacity 0.5s
}

.wrapper.active {
    opacity: 1
}

.wrapper .image {
    width: 100%;
    height: 100%
}

.wrapper video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wrapper svg text {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px
}

.wrapper svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask)
}

.wrapper svg rect {
    height: 600px;
    fill: #fff
} */

.intro-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 15%;
    width: 40%;
    height: 400px;
    opacity: 0;
    transform-style: preserve-3d;
    transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: transform 1.5s, opacity 1.5s;
}

.intro-image.active {
    opacity: 1
}

.intro-image:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.intro-image div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden
}

.front {
    width: 100%;
    height: 100%;
    z-index: 2
}

.back {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg)
}

.intro-image .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.intro-image .back img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg)
}

.intro-inner {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 60px;
    width: 100%;
    height: 400px
}

.intro-inner h2 {
    width: 40%;
    position: relative;
    text-align: right;
    opacity: 0;
    transition-delay: 0.5s
}

.intro-inner h2.active {
    opacity: 1;
    animation: moveInLeftS 1s ease-out;
    animation-delay: 0.5s
}

.intro-inner h2:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000
}

.intro-inner h2 span {
    position: relative;
    padding: 0 1em;
    font-size: 5rem;
    background: #fff
}

.intro-inner .intro-main {
    display: inline-block;
    padding-top: 40px;
    padding-right: 5%;
    font-size: 2rem;
    letter-spacing: .3rem;
    font-family: Georgia, serif;
    opacity: 0;
    transition-delay: 1.3s
}

.intro-innr .intro-main.active {
    opacity: 1;
    animation: moveInLeftS 1s ease-out;
    animation-delay: 1.3s
}

@keyframes moveInLeftS {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRightS {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.serv-contents {
    position: relative;
    z-index: 0;
    margin-top: 100px;
    width: 100%
}

.serv-contents h2.serv-heading {
    width: 40%;
    position: relative;
    text-align: right;
    display: inline-block;
    margin-left: 20px
}

.serv-contents h2.serv-heading:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000
}

.serv-contents h2.serv-heading span {
    height: 100%;
    position: relative;
    padding: 0 1em;
    font-size: 5rem;
    background: #fff;
    vertical-align: middle
}

.serv-heading {
    opacity: 0;
    transition-delay: 0.5s
}

.serv-heading.active {
    opacity: 1;
    animation: moveInLeftS 0.5s ease-out;
    animation-delay: 0.5s
}

.serve-main .innr {
    width: 70%;
    max-width: inherit;
    margin: 0 auto
}

.serv-main-contents h4 {
    font-size: 2rem
}

.serv-main-contents h3 {
    margin-top: 20px;
    font-size: 4rem
}

.serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1rem;
    font-family: Georgia, serif
}

.serv-main-contents .serv-main-sentence .serv-url {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    padding-right: 2rem;
    text-decoration: underline
}

.serv-main-contents.primary {
    display: relative;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    height: 300px;
    width: 55%;
    margin-left: auto;
    margin-top: 160px;
    padding-top: 25px;
    padding-left: 20px;
    background-color: #fff;
    opacity: 0;
    transition: 1s opacity 2.3s
}

.serv-main-contents.primary.active {
    opacity: 1
}

.serve-main .innr .serv-image-primary {
    position: absolute;
    left: 13.5%;
    top: calc(-8% + 200px);
    width: 576px;
    height: 341.6px;
    z-index: -1;
    opacity: 0;
    transition-delay: 1.5s
}

.serve-main .innr .serv-image-primary img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.serve-main .innr .serv-image-primary.active {
    opacity: 1;
    animation: moveInLeftS 1s ease-out;
    animation-delay: 1.5s
}

.serv-main-contents.secondary {
    display: relative;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    height: 300px;
    width: 55%;
    margin-right: auto;
    margin-top: 180px;
    padding-top: 25px;
    padding-left: 20px;
    background-color: #fff;
    opacity: 0;
    transition: 1s opacity 1.3s
}

.serv-main-contents.secondary.active {
    opacity: 1
}

.serve-main .innr .serv-image-secondary {
    position: absolute;
    right: 13.5%;
    top: calc(-8% + 670px);
    width: 576px;
    height: 341.6px;
    z-index: -1;
    opacity: 0;
    transition-delay: 0.5s
}

.serve-main .innr .serv-image-secondary img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.serve-main .innr .serv-image-secondary.active {
    opacity: 1;
    animation: moveInRightS 1s ease-out;
    animation-delay: 0.5s
}

.serv-main-contents.tertiary {
    display: relative;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    height: 300px;
    width: 55%;
    margin-left: auto;
    margin-top: 280px;
    padding-top: 25px;
    padding-left: 20px;
    background-color: #fff;
    opacity: 0;
    transition: 1s opacity 1.3s
}

.serv-main-contents.tertiary.active {
    opacity: 1
}

.serve-main .innr .serv-image-tertiary {
    position: absolute;
    left: 13.5%;
    top: calc(-8% + 1390px);
    width: 576px;
    height: 341.6px;
    z-index: -1;
    opacity: 0;
    transition-delay: 0.5s
}

.serve-main .innr .serv-image-tertiary img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.serve-main .innr .serv-image-tertiary.active {
    opacity: 1;
    animation: moveInLeftS 1s ease-out;
    animation-delay: 0.5s
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .wrapper {
        width: 60%
    }

    .intro-image {
        margin-left: 5%;
        height: 300px
    }

    .intro-innr {
        height: 300px
    }

    .serve-main .innr {
        width: 80%
    }

    .serve-main .innr .serv-image-primary {
        left: 8%;
        width: 576px;
        height: 341.6px
    }

    .serve-main .innr .serv-image-secondary {
        right: 8%;
        width: 576px;
        height: 341.6px
    }

    .serve-main .innr .serv-image-tertiary {
        left: 8%;
        width: 576px;
        height: 341.6px
    }
}

@media screen and (min-width:801px) and (max-width:999px) {
    .intro-contents {
        margin-top: 50px
    }

    .wrapper {
        width: 60%
    }

    .intro-image {
        margin-left: 5%;
        height: 250px
    }

    .intro-innr {
        height: 270px
    }

    .intro-innr .intro-main {
        font-size: 1.5rem
    }

    .intro-innr h2 span {
        font-size: 4rem
    }

    .serv-contents h2.serv-heading span {
        font-size: 4rem
    }

    .serve-main .innr {
        width: 85%
    }

    .serv-main-contents h4 {
        font-size: 1.8rem
    }

    .serv-main-contents h3 {
        margin-top: 10px;
        font-size: 3.5rem
    }

    .serv-main-contents .serv-main-sentence {
        display: block;
        margin-top: 10px;
        font-size: 1.5rem;
        letter-spacing: .1rem;
        font-family: Georgia, serif
    }

    .serv-main-contents.primary {
        height: 270px;
        width: 55%;
        margin-left: auto;
        margin-top: 180px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-primary {
        left: 7%;
        top: calc(-8% + 200px);
        width: 50%;
        height: 300px
    }

    .serv-main-contents.secondary {
        height: 270px;
        width: 55%;
        margin-right: auto;
        margin-top: 210px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-secondary {
        right: 7%;
        top: calc(-8% + 690px);
        width: 50%;
        height: 300px
    }

    .serv-main-contents.tertiary {
        height: 270px;
        width: 55%;
        margin-left: auto;
        margin-top: 210px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-tertiary {
        left: 7%;
        top: calc(-8% + 1180px);
        width: 50%;
        height: 300px
    }
}

@media screen and (min-width:651px) and (max-width:800px) {
    .intro-contents {
        margin-top: 50px
    }

    .wrapper {
        margin-top: 10px;
        width: 70%;
        height: 140px
    }

    .intro-image {
        height: 200px;
        margin-left: 2%
    }

    .intro-innr {
        margin-top: 30px;
        height: 200px
    }

    .intro-innr h2 span {
        font-size: 3rem
    }

    .intro-innr .intro-main {
        font-size: 1.3rem
    }

    .serv-contents h2.serv-heading span {
        font-size: 3rem
    }

    .serve-main .innr {
        width: 85%
    }

    .serv-main-contents h4 {
        font-size: 1.5rem
    }

    .serv-main-contents h3 {
        margin-top: 5px;
        font-size: 2.5rem
    }

    .serv-main-contents .serv-main-sentence {
        display: block;
        margin-top: 7px;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        font-family: Georgia, serif
    }

    .serv-main-contents.primary {
        height: 205px;
        width: 60%;
        margin-left: auto;
        margin-top: 120px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-primary {
        left: 60px;
        top: calc(-8% + 130px);
        width: 50%;
        height: 230px
    }

    .serv-main-contents.secondary {
        height: 205px;
        width: 60%;
        margin-right: auto;
        margin-top: 145px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-secondary {
        right: 60px;
        top: calc(-8% + 485px);
        width: 50%;
        height: 230px
    }

    .serv-main-contents.tertiary {
        height: 205px;
        width: 60%;
        margin-left: auto;
        margin-top: 205px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-tertiary {
        left: 60px;
        top: calc(-8% + 1025px);
        width: 50%;
        height: 230px
    }
}

@media screen and (min-width:476px) and (max-width:650px) {
    .intro-contents {
        margin-top: 0
    }

    .wrapper {
        width: 90%;
        height: 100px;
        margin: 0 auto
    }

    .intro-image {
        display: none
    }

    .intro-innr {
        margin-top: 50px;
        height: 200px
    }

    .intro-innr h2 {
        width: 85%;
        text-align: center;
        margin: 0 auto
    }

    .intro-innr h2 span {
        font-size: 3rem
    }

    .intro-innr .intro-main {
        margin: 0 auto;
        font-size: 1.5rem
    }

    .serv-contents {
        margin-top: 10px
    }

    .serv-contents div.serv-heading {
        width: 100%
    }

    .serv-contents div h2.serv-heading {
        width: 85%;
        text-align: center;
        margin-left: 7.5%
    }

    .serv-contents h2.serv-heading span {
        font-size: 3rem
    }

    .serve-main .innr {
        width: 85%
    }

    .serv-main-contents h4 {
        font-size: 1.5rem
    }

    .serv-main-contents h3 {
        margin-top: 5px;
        font-size: 2.5rem
    }

    .serv-main-contents .serv-main-sentence {
        display: block;
        margin-top: 7px;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        font-family: Georgia, serif
    }

    .serv-main-contents.primary {
        height: 205px;
        width: 80%;
        margin-left: auto;
        margin-top: 175px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-primary {
        left: 50px;
        top: calc(-8% + 155px);
        width: 70%;
        height: 200px
    }

    .serv-main-contents.secondary {
        height: 205px;
        width: 80%;
        margin-right: auto;
        margin-top: 255px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-secondary {
        right: 50px;
        top: calc(-8% + 555px);
        width: 70%;
        height: 200px
    }

    .serv-main-contents.tertiary {
        height: 205px;
        width: 80%;
        margin-left: auto;
        margin-top: 195px;
        padding-top: 25px;
        padding-left: 20px
    }

    .serve-main .innr .serv-image-tertiary {
        left: 50px;
        top: calc(-8% + 1105px);
        width: 70%;
        height: 200px
    }
}

@media screen and (min-width:365px) and (max-width:475px) {
    .intro-contents {
        margin-top: 0
    }

    .wrapper {
        width: 90%;
        height: 100px;
        margin: 0 auto;
        opacity: 1
    }

    .wrapper .image {
        background-image: url(../images/sea.webp);
        background-position: center center
    }

    .wrapper video {
        display: none
    }

    .intro-image {
        display: none
    }

    .intro-innr {
        margin-top: 70px;
        height: 170px
    }

    .intro-innr h2 {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        opacity: 1
    }

    .intro-innr h2 span {
        padding: 0 1rem;
        font-size: 3rem
    }

    .intro-innr .intro-main {
        margin: 0 auto;
        padding: 0;
        padding-top: 40px;
        font-size: 1rem;
        opacity: 1
    }

    .serv-contents {
        margin-top: 30px
    }

    .serv-heading {
        opacity: 1
    }

    .serv-contents div.serv-heading {
        width: 100%
    }

    .serv-contents div h2.serv-heading {
        width: 85%;
        text-align: center;
        margin-left: 7.5%
    }

    .serv-contents h2.serv-heading span {
        padding: 0 1rem;
        font-size: 3rem
    }

    .serve-main .innr {
        width: 100%
    }

    .serv-main-contents h4 {
        display: none
    }

    .serv-main-contents h3 {
        font-size: 2rem;
        margin-top: 0
    }

    .serv-main-contents .serv-main-sentence {
        display: block;
        margin-top: 1.4rem;
        font-size: 1.1rem;
        letter-spacing: .1rem;
        font-family: Georgia, serif
    }

    .serv-main-contents.primary {
        height: 160px;
        width: 75%;
        margin-top: 160px;
        margin-left: auto;
        margin-right: 20px;
        padding-top: 10px;
        padding-left: 10px;
        opacity: 1
    }

    .serve-main .innr .serv-image-primary {
        left: 20px;
        top: calc(-8% + 140px);
        width: 70%;
        height: 180px;
        opacity: 1
    }

    .serv-main-contents.secondary {
        height: 160px;
        width: 75%;
        margin-right: auto;
        margin-left: 20px;
        margin-top: 160px;
        padding-top: 10px;
        padding-left: 10px;
        opacity: 1
    }

    .serve-main .innr .serv-image-secondary {
        right: 20px;
        top: calc(-8% + 470px);
        width: 70%;
        height: 180px;
        opacity: 1
    }

    .serv-main-contents.tertiary {
        height: 160px;
        width: 75%;
        margin-top: 170px;
        margin-left: auto;
        margin-right: 20px;
        padding-top: 10px;
        padding-left: 10px;
        opacity: 1
    }

    .serve-main .innr .serv-image-tertiary {
        left: 20px;
        top: calc(-8% + 825px);
        width: 70%;
        height: 180px;
        opacity: 1
    }
}

@media screen and (max-width:364px) {
    .intro-contents {
        margin-top: 0
    }

    .wrapper {
        width: 90%;
        height: 100px;
        margin: 0 auto;
        opacity: 1
    }

    .wrapper .image {
        background-image: url(../images/sea.webp);
        background-position: center center
    }

    .wrapper video {
        display: none
    }

    .intro-image {
        display: none
    }

    .intro-innr {
        margin-top: 70px;
        height: 170px
    }

    .intro-innr h2 {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        opacity: 1
    }

    .intro-innr h2 span {
        padding: 0 1rem;
        font-size: 3rem
    }

    .intro-innr .intro-main {
        margin: 0 auto;
        padding: 0;
        padding-top: 40px;
        font-size: 1rem;
        opacity: 1
    }

    .serv-contents {
        margin-top: 30px
    }

    .serv-heading {
        opacity: 1
    }

    .serv-contents div.serv-heading {
        width: 100%
    }

    .serv-contents div h2.serv-heading {
        width: 85%;
        text-align: center;
        margin-left: 7.5%
    }

    .serv-contents h2.serv-heading span {
        padding: 0 1rem;
        font-size: 3rem
    }

    .serve-main .innr {
        width: 100%
    }

    .serv-main-contents h4 {
        display: none
    }

    .serv-main-contents h3 {
        font-size: 2.3rem;
        margin-top: 10px
    }

    .serv-main-contents .serv-main-sentence {
        display: block;
        margin-top: 20px;
        font-size: 1.1rem;
        letter-spacing: .1rem;
        font-family: Georgia, serif
    }

    .serv-main-contents.primary {
        height: 150px;
        width: 85%;
        margin-left: 7.5%;
        margin-top: 30px;
        padding: 0;
        padding-left: 5px;
        opacity: 1
    }

    .serve-main .innr .serv-image-primary {
        display: none
    }

    .serv-main-contents.secondary {
        height: 150px;
        width: 85%;
        margin-left: 7.5%;
        margin-top: 30px;
        padding: 0;
        padding-left: 5px;
        opacity: 1
    }

    .serve-main .innr .serv-image-secondary {
        display: none
    }

    .serv-main-contents.tertiary {
        height: 150px;
        width: 85%;
        margin-left: 7.5%;
        margin-top: 30px;
        padding: 0;
        padding-left: 5px;
        opacity: 1
    }

    .serve-main .innr .serv-image-tertiary {
        display: none
    }
}