/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";

/* ダイアログ */

/* 全体 */

.modal-container {
    min-width: 600px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

.modal-inner {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
}

/* 削除ボタン */
.cancel-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

/* 削除ボタンエフェクト */
.round_btn {
    display: block;
    position: relative;
    text-align: right;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 50%
}

/* バツマーク */
.round_btn::before,
.round_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 22px;
    background: #333
}

.round_btn::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg)
}

.round_btn::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg)
}

.round_btn:focus {
    outline: none
}

.round_btn:hover {
    background: #CCC
}

.round_btn:active {
    background: #B3B3B3
}


/* 送信完了文字 */
.sub-comp {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px
}

/* お問い合わせ文字 */
.title-group {
    display: block;
    text-align: center
}

#myModalLabel {
    font-size: 2rem;
    margin-top: -10px
}

/* エラーメッセージ */
.error-message {
    color: #da4033;
    font-weight: 900;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 10px
}

.input-container {
    font-size: 2.3rem;
}

/* テキストボックス */
.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

/* チェックボックス */
.check-group {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

label {
    font-size: 2rem
}

label.label-sender {
    margin-top: -5px
}

input[type="text"] {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

input[type="email"] {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-bottom: 10px
}

input[type="email"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

textarea {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

textarea:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

input[type="submit"] {
    color: #fff;
    background-color: #6262e9;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .1em;
    border-radius: .5rem;
    border-radius: 100vh
}

input[type="submit"]:hover {
    color: #fff;
    background: #1a1aba
}

input[type=checkbox] {
    display: none
}

.label-myself {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto
}

.label-myself::before {
    background: #fff;
    border: 1.5px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px
}

.label-myself::after {
    border-right: 6px solid #4169e1;
    border-bottom: 3px solid #4169e1;
    content: '';
    display: block;
    height: 20px;
    left: 2px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(.7, .7, 1);
            transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(.7, .7, 1);
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    width: 9px
}

input[type=checkbox]:checked+.label-myself::before {
    outline: none;
    border-color: #a0a0a0;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

input[type=checkbox]:checked+.label-myself::after {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale3d(1, 1, 1);
            transform: rotate(45deg) scale3d(1, 1, 1)
}

.submit-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

@media screen and (max-width:600px) {

    .modal-container {
        min-width: inherit
    }

    .modal-inner {
        height: inherit;
    }

    input[type="submit"] {
        font-size: 1.4rem;
    }
        
    .input-container {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.4rem
    }
    
    .sub-comp {
        font-size: 2rem;
    }
}