@charset "UTF-8";

#header {
    background: #2e8bc0;
    color: #fff
}

h1 {
    color: #0c2d48
}

#header a:link,
#header a:visited {
    color: #fff
}

#branding h1,
#branding h1 a:visited,
#branding h1 a:link {
    color: #fff
}

.module h2,
.module caption,
.inline-group h2 {
    background: #2e8bc0;
    color: #fff
}

a.section:link,
a.section:visited {
    color: #fff
}