{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
{% endblock %} {% include 'modal.html' %}
<div class="to-top" role="region" aria-label="このページのトップに戻る">
  <div class="inner">
    <a href="#app-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="18.881" height="10.491" viewBox="0 0 18.881 10.491">
        <title>このページのトップへ</title>
        <path d="M32.38,28.98,24,20.61,15.62,28.98,14.56,27.92,24,18.49l9.44,9.43Z" transform="translate(-14.56 -18.49)"
          fill="#fff"></path>
      </svg>
    </a>
  </div>
</div>
<footer id="footer">
  <div id="footer_contact">
    {% comment %}
    <h2><span class="en">Contact</span><br /></h2>
    {% endcomment %}
    <div class="inner">
      <div class="footer-link-content">
        <button id="key_btn" class="link-btn" type="button" data-toggle="modal" data-target="#testModal">
          お問合せはこちら
        </button>
      </div>
      <div class="middle">
        <div class="tell-content">
          <p class="footer_contact_tel_title">お電話でのお問い合わせはこちら</p>
          <div class="box"></div>
          <div class="telBox">
            <span class="tel"><i class="fas fa-phone"></i><a href="tel:09062089821" class="telme">090-6208-9821</a>
            </span>
          </div>
        </div>
        {% comment %}
        <div class="mail-content">
          <p class="footer_contact_mail_title">
            メールでのお問い合わせはこちら
          </p>
          <div class="mailBox">
            <span class="mail"><i class="fas fa-envelope"></i><a href="mailto:iida08iidays@gmail.com"
                class="mailme">iida08iidays@gmail.com</a>
            </span>
          </div>
        </div>
        {% endcomment %}
        <div class="site-content">
          <a class="button" href="https://www.amazon.com/sp?seller=A1D6J9Q8UCXAJD">
            <span class="button__text">EC運営サイトはこちら</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-nav innr">
    <div id="adress">
      <div>
        <i class="fas fa-map-marker-alt"></i>大阪府堺市西区鳳南町5丁490-7
      </div>
    </div>
    <div id="policy">
      <div>
        <a href="{% static 'images/privacy_policy.pdf' %}" download="privacy_policy.pdf" class="btn">
          <span>プライバシーポリシー</span>
        </a>
      </div>
    </div>
  </div>
  <p id="copy"><span>&copy; 2022 IIDays Inc.</span></p>
</footer>
{% block extrajs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>
  $(function () {
    // #で始まるアンカーをクリックした場合に処理
    $(".to-top a").click(function () {
      $("body,html").animate({
          scrollTop: 0,
        },
        400
      );
      return false;
    });
  });
</script>
{% endblock %}