{% load static %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index-service.css' %}"/>
{% endblock %}
<section class="service-contents">
  <div class="service-header">
    <h2 class="service-heading">
      <span class="serice-heading-contents">事業内容</span>
    </h2>
  </div>
  <div class="inner right">
    <div class="service-description">
      <h4>-01</h4>
      <div class="block"></div>
      <h3>
        EC 運営
      </h3>
      <div class="block"></div>
      <div class="service-main-sentence">
        <div>
          日用品を中心として、</div>
        <div>
          家電,食品の幅広く販売しております。</div>
        <div class="service-url">
          <a href="https://www.amazon.com/sp?seller=A1D6J9Q8UCXAJD">ECサイトへ</a>
        </div>
      </div>
    </div>
    <div class="service-image">
      <img src="{% static 'images/pc-contents2.webp' %}" alt="PC2">
    </div>
  </div>
  <div class="inner left">
    <div class="service-description">
      <h4>-02</h4>
      <div class="block"></div>
      <h3>
        処分品買取
      </h3>
      <div class="block"></div>
      <div class="service-main-sentence">
        <div></div>
        <div>
          生産終了や処分品の買取を行っております。</div>
      </div>
    </div>
    <div class="service-image">
      <img src="{% static 'images/delivery-contents.webp' %}" alt="Delivery">
    </div>
  </div>
</section>