{% load static %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
{% endblock %}
<!-- ボタン・リンククリック後に表示される画面の内容 -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-container">
    <div class="modal-content modal-inner">
      <div class="modal-body">
        <form action="{% url 'index' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="url" value="{{ request.path }}" id="id_url"/>
          <div class="cancel-btn">
            <button type="button" data-dismiss="modal" class="round_btn"></button>
          </div>
          {% if status == 'complete' %}
            <h4 class="sub-comp">送信が完了しました！</h4>
            <style>
              .modal-inner {
                height: inherit;
              }
            </style>
          {% else %}
            <div class="title-group">
              <h4 id="myModalLabel">問い合わせ</h4>
              {% if status == 'error' %}
                <h4 class="error-message" id="error_text">
                  有効なメールアドレスを入力してください。
                </h4>
                <style>
                  input[type="email"] {
                    background-color: #fadbda;
                    transition: all 0.5s;
                  }

                  input[type="email"]:focus {
                    background-color: white;
                  }
                </style>
              {% endif %}
            </div>
            <div class="input-container">
              <div class="input-group">
                <label for="id_subject" class="label-subject">件名</label>
                <input type="text" name="subject" value="{{ subject }}" maxlength="100" class="input-subject" required="required" id="id_subject"/>
              </div>
              <div class="input-group">
                <label for="id_message" class="label-message">内容</label>
                <textarea name="message" cols="40" rows="5" class="input-message" required="required" id="id_message">
                  {{ message }}
                </textarea>
              </div>
              <div class="check-group">
                <input type="checkbox" name="myself" class="input-myself" id="id_myself"/>
                <label for="id_myself" class="label-myself">自分にも同じ内容を送る</label>
              </div>
              <div class="input-group">
                <label for="id_sender" class="label-sender">送信先メールアドレス</label>
                <input type="email" name="sender" value="{{ sender }}" class="input-sender" id="id_sender" oninput="inputChange();"/>
              </div>
            </div>
            <input type="submit" value="送信"/>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% block extrajs %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script>
    "{% if status == 'error' or status == 'complete' %}"
    window.onload = function () { // ページ読み込み時に実行する無名関数
      document
        .getElementById("key_btn")
        .click();
    } { % endif %
    }
    checkedMyself("{{ myself }}" == "True");
    addCheckedEvent("{{ status }}" == "error");
  </script>
{% endblock %}