@charset "UTF-8";

.cancel-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.round_btn {
    display: block;
    position: relative;
    text-align: right;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 50%
}

.round_btn::before,
.round_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 22px;
    background: #333
}

.round_btn::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}

.round_btn::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}

.round_btn:focus {
    outline: none
}

.round_btn:hover {
    background: #CCC
}

.round_btn:active {
    background: #B3B3B3
}

.sub-comp {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px
}

.title-group {
    display: block;
    text-align: center
}

#myModalLabel {
    font-size: 2rem;
    margin-top: -10px
}

.error-message {
    color: #da4033;
    font-weight: 900;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 10px
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px
}

.check-group {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

label {
    font-size: 1.5rem
}

label.label-sender {
    margin-top: -5px
}

input[type="text"] {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

input[type="email"] {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-bottom: 10px
}

input[type="email"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

textarea {
    border: 1.5px solid #ccc;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

textarea:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

button[type="button"] {
    font-size: 1.5rem
}

input[type="submit"] {
    color: #fff;
    background-color: #6262e9;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .1em;
    border-radius: .5rem;
    border-radius: 100vh
}

input[type="submit"]:hover {
    color: #fff;
    background: #1a1aba
}

input[type=checkbox] {
    display: none
}

.label-myself {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto
}

.label-myself::before {
    background: #fff;
    border: 1.5px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px
}

.label-myself::after {
    border-right: 6px solid #4169e1;
    border-bottom: 3px solid #4169e1;
    content: '';
    display: block;
    height: 20px;
    left: 2px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(.7, .7, 1);
    transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(.7, .7, 1);
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    width: 9px
}

input[type=checkbox]:checked+.label-myself::before {
    outline: none;
    border-color: #a0a0a0;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

input[type=checkbox]:checked+.label-myself::after {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale3d(1, 1, 1);
    transform: rotate(45deg) scale3d(1, 1, 1)
}

.submit-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.to-top {
    display: block;
    position: relative;
    margin-bottom: -10%
}

.inner {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px)
}

.to-top a {
    background-color: rgba(0, 0, 0, .6);
    opacity: .5;
    border-radius: .125em;
    bottom: 15px;
    display: block;
    height: 28px;
    margin: 0 0 0 auto;
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-align: center;
    -webkit-transition: background-color .2s ease-out 0s;
    -o-transition: background-color .2s ease-out 0s;
    transition: background-color .2s ease-out 0s;
    width: 36px;
    z-index: 50
}

.to-top svg {
    height: 11px;
    position: relative;
    top: -3px;
    width: 19px
}

#footer {
    position: relative;
    margin-top: 10%;
    padding: 3% 0 20px;
    background-color: #090d24;
    background-size: cover
}

#footer_contact {
    width: 91.25%;
    max-width: 1168px;
    padding: 30px 0
}

#footer_contact {
    position: relative;
    margin: auto;
    background: #fff;
    background-size: cover
}

h2 {
    text-align: center
}

h2 .en {
    font-size: 50px;
    letter-spacing: 8px
}

.innr {
    margin: auto;
    width: 91.25%;
    max-width: 960px
}

.footer-link-content {
    display: block;
    width: 35%;
    min-width: 250px;
    margin: 40px auto 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

button.link-btn {
    height: 80px;
    font-size: 2.3rem;
    line-height: .3rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 100%;
    max-width: 370px;
    color: #fff;
    font-weight: 700;
    border-radius: 50em;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    will-change: transform, filter;
    background-image: -o-linear-gradient(left, #007adf 0%, #00ecbc 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#007adf), to(#00ecbc));
    background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
}

button.link-btn:before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
    line-height: 1;
    position: absolute;
    top: calc(50% - 0.8rem);
    right: 1rem;
    margin: 0;
    padding: 0;
    content: "\f30b"
}

button.link-btn:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

button.link-btn:active {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: -o-linear-gradient(left, #007adf 0%, #00ecbc 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#007adf), to(#00ecbc));
    background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%)
}

footer i {
    font-size: 3rem;
    margin-right: .6rem
}

.middle {
    display: flex;
    margin-top: 3%;
    gap: 10%;
}

.tell-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 100%;
}

.tell-content i {
    color: #000;
    font-weight: 700
}

.footer_contact_tel_title {
    font-size: 1.8rem;
    padding-top: 2%
}

.telme {
    color: #000;
    font-weight: 700;
    font-size: 3rem
}

.mail-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-top: 2%;
    gap: 0 20px
}

.mail-content i {
    color: #000;
    font-weight: 700
}

.footer_contact_mail_title {
    font-size: 1.8rem;
    padding-top: 2%
}

.mailme {
    color: #000;
    font-weight: 700;
    font-size: 3rem
}

.site-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-top: 2%
}

.button {
    position: relative;
    display: inline-block;
    background-color: #fff;
    width: 240px;
    height: 58px;
    border: 1px solid #0e192d;
    color: inherit !important;
    letter-spacing: .01em;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer
}

.button__text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 4px 0 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.3;
    z-index: 1
}

.button:after,
.button:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #0e192d
}

.button:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right
}

.button:after {
    top: 50%;
    right: -20px;
    width: 60px;
    height: 1px
}

.button:hover {
    background-color: #0e192d
}

.button:hover .button__text {
    color: #fff
}

.button:hover:after,
.button:hover:before {
    background-color: #fff
}

.button:hover:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right
}

.button:hover:after {
    top: 50%;
    right: 20px;
    width: 25px;
    height: 1px
}

.footer-nav {
    margin-top: 20px
}

.footer-nav #adress {
    font-family: arial;
    color: #f2f2f2;
    font-size: 1.6rem
}

.footer-nav #policy div a span {
    font-family: arial;
    color: #f2f2f2;
    font-size: 1.6rem
}

#footer #copy {
    color: #bdbdbd;
    font-size: 1.6rem;
    text-align: center
}

@media screen and (max-width:824px) {
    .footer_contact_tel_title {
        display: none
    }

    .footer_contact_mail_title {
        display: none
    }
}

@media screen and (max-width:500px) {
    .site-content {
        margin-top: 4%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .button {
        height: 45px
    }

    footer i {
        font-size: 2rem
    }

    .mailme {
        font-size: 2rem
    }

    .telme {
        font-size: 2rem
    }
}