/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";

/*---------------------------紹介文ー*/
main {
  background-color: inherit;
}

.block {
  height: 1rem;
}

.intro-contents {
  margin-top: 100px;
}

.wrapper {
  position: relative;
  width: 50%;
  height: 200px;
  margin-left: auto;
  z-index: 999;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s opacity 1s;
  -o-transition: 0.5s opacity 1s;
  transition: 0.5s opacity 1s;
}

.wrapper.active {
  opacity: 1;
}

.wrapper .image {
  width: 100%;
  height: 100%;
}

.wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper svg text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.wrapper svg>rect {
  -webkit-mask: url("#mask");
  mask: url("#mask");
}

.wrapper svg rect {
  height: 600px;
  fill: #fff;
}

.intro-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1000px;
  margin-left: 15%;
  width: 40%;
  height: 400px;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 2s opacity 1.5s, -webkit-transform 1.5s;
  transition: 2s opacity 1.5s, -webkit-transform 1.5s;
  -o-transition: transform 1.5s, 2s opacity 1.5s;
  transition: transform 1.5s, 2s opacity 1.5s;
  transition: transform 1.5s, 2s opacity 1.5s, -webkit-transform 1.5s
}

.intro-image.active {
  opacity: 1;
}

.intro-image:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.intro-image div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.back {
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.intro-image .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.intro-image .back img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.intro-innr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 60px;
  width: 100%;
  height: 400px;
}

.intro-innr h2 {
  width: 40%;
  position: relative;
  text-align: right;
  opacity: 0;
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.intro-innr h2.active {
  opacity: 1;
  -webkit-animation: moveInLeftS 1s ease-out;
  animation: moveInLeftS 1s ease-out;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.intro-innr h2:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #000;
}

.intro-innr h2 span {
  position: relative;
  padding: 0 1em;
  font-size: 5rem;
  background: #fff;
}

.intro-innr .intro-main {
  display: inline-block;
  padding-top: 40px;
  padding-right: 5%;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-family: Georgia, serif;
  opacity: 0;
  -webkit-transition-delay: 3.1s;
  -o-transition-delay: 3.1s;
  transition-delay: 3.1s;
}

.intro-innr .intro-main.active {
  opacity: 1;
  -webkit-animation: moveInLeftS 1s ease-out;
  animation: moveInLeftS 1s ease-out;
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

@-webkit-keyframes moveInLeftS {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeftS {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRightS {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRightS {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*---------------------------サービスー*/
.serv-contents {
  position: relative;
  z-index: 0;
  margin-top: 100px;
  width: 100%;
}

.serv-contents h2.serv-heading {
  width: 40%;
  position: relative;
  text-align: right;
  display: inline-block;
  margin-left: 20px;
}

.serv-contents h2.serv-heading:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #000;
}

.serv-contents h2.serv-heading span {
  height: 100%;
  position: relative;
  padding: 0 1em;
  font-size: 5rem;
  background: #fff;
  vertical-align: middle;
}

.serv-heading {
  opacity: 0;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.serv-heading.active {
  opacity: 1;
  -webkit-animation: moveInLeftS 1s ease-out;
  animation: moveInLeftS 1s ease-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.serve-main .innr {
  width: 70%;
  max-width: inherit;
  margin: 0 auto;
}

.serv-main-contents h4 {
  font-size: 2rem;
}

.serv-main-contents h3 {
  margin-top: 20px;
  font-size: 4rem;
}

.serv-main-contents .serv-main-sentence {
  display: block;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-family: Georgia, serif;
}

.serv-main-contents.primary {
  display: relative;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 55%;
  margin-left: auto;
  margin-top: 200px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 1s opacity 3s;
  -o-transition: 1s opacity 3s;
  transition: 1s opacity 3s;
}

.serv-main-contents.primary.active {
  opacity: 1;
}

.serve-main .innr .serv-image-primary {
  position: absolute;
  left: 13.5%;
  top: calc(-8% + 240px);
  width: 576px;
  height: 341.6px;
  z-index: -1;
  opacity: 0;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.serve-main .innr .serv-image-primary img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.serve-main .innr .serv-image-primary.active {
  opacity: 1;
  -webkit-animation: moveInLeftS 1s ease-out;
  animation: moveInLeftS 1s ease-out;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.serv-main-contents.secondary {
  display: relative;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 55%;
  margin-right: auto;
  margin-top: 280px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 1s opacity 1.6s;
  -o-transition: 1s opacity 1.6s;
  transition: 1s opacity 1.6s;
}

.serv-main-contents.secondary.active {
  opacity: 1;
}

.serve-main .innr .serv-image-secondary {
  position: absolute;
  right: 13.5%;
  top: calc(-8% + 810px);
  width: 576px;
  height: 341.6px;
  z-index: -1;
  opacity: 0;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.serve-main .innr .serv-image-secondary img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.serve-main .innr .serv-image-secondary.active {
  opacity: 1;
  -webkit-animation: moveInRightS 1s ease-out;
  animation: moveInRightS 1s ease-out;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.serv-main-contents.tertiary {
  display: relative;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 55%;
  margin-left: auto;
  margin-top: 280px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 1s opacity 1.6s;
  -o-transition: 1s opacity 1.6s;
  transition: 1s opacity 1.6s;
}

.serv-main-contents.tertiary.active {
  opacity: 1;
}

.serve-main .innr .serv-image-tertiary {
  position: absolute;
  left: 13.5%;
  top: calc(-8% + 1390px);
  width: 576px;
  height: 341.6px;
  z-index: -1;
  opacity: 0;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.serve-main .innr .serv-image-tertiary img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.serve-main .innr .serv-image-tertiary.active {
  opacity: 1;
  -webkit-animation: moveInLeftS 1s ease-out;
  animation: moveInLeftS 1s ease-out;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/*PC中用のスタイル */
@media screen and (min-width:1000px) and (max-width:1200px) {
  .wrapper {
    width: 60%;
  }

  .intro-image {
    margin-left: 5%;
    height: 300px;
  }

  .intro-innr {
    height: 300px;
  }

  .serve-main .innr {
    width: 80%;
  }

  .serve-main .innr .serv-image-primary {
    left: 8%;
    width: 576px;
    height: 341.6px;
  }

  .serve-main .innr .serv-image-secondary {
    right: 8%;
    width: 576px;
    height: 341.6px;
  }

  .serve-main .innr .serv-image-tertiary {
    left: 8%;
    width: 576px;
    height: 341.6px;
  }
}

/*PC小用のスタイル */
@media screen and (min-width:801px) and (max-width:999px) {
  .intro-contents {
    margin-top: 50px;
  }

  .wrapper {
    width: 60%;
  }

  .intro-image {
    margin-top: 980px;
    margin-left: 5%;
    height: 250px;
  }

  .intro-innr {
    height: 270px;
  }

  .intro-innr .intro-main {
    font-size: 1.5rem;
  }

  .intro-innr h2 span {
    font-size: 4rem;
  }

  .serv-contents h2.serv-heading span {
    font-size: 4rem;
  }

  .serve-main .innr {
    width: 85%;
  }

  .serv-main-contents h4 {
    font-size: 1.8rem;
  }

  .serv-main-contents h3 {
    margin-top: 10px;
    font-size: 3.5rem;
  }

  .serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, serif;
  }

  .serv-main-contents.primary {
    height: 270px;
    width: 55%;
    margin-left: auto;
    margin-top: 180px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-primary {
    left: 7%;
    top: calc(-8% + 200px);
    width: 50%;
    height: 20%;
  }

  .serv-main-contents.secondary {
    height: 270px;
    width: 55%;
    margin-right: auto;
    margin-top: 210px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-secondary {
    right: 7%;
    top: calc(-8% + 690px);
    width: 50%;
    height: 20%;
  }

  .serv-main-contents.tertiary {
    height: 270px;
    width: 55%;
    margin-left: auto;
    margin-top: 210px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-tertiary {
    left: 7%;
    top: calc(-8% + 1180px);
    width: 50%;
    height: 20%;
  }
}

/*iPad用のスタイル */
@media screen and (min-width:651px) and (max-width:800px) {
  .intro-contents {
    margin-top: 50px;
  }

  .wrapper {
    margin-top: 10px;
    width: 70%;
    height: 140px;
  }

  .intro-image {
    margin-top: 770px;
    height: 200px;
    margin-left: 2%;
  }

  .intro-innr {
    margin-top: 60px;
    height: 200px;
  }

  .intro-innr h2 span {
    font-size: 3rem;
  }

  .intro-innr .intro-main {
    font-size: 1.3rem;
  }

  .serv-contents h2.serv-heading span {
    font-size: 3rem;
  }

  .serve-main .innr {
    width: 85%;
  }

  .serv-main-contents h4 {
    font-size: 1.5rem;
  }

  .serv-main-contents h3 {
    margin-top: 5px;
    font-size: 2.5rem;
  }

  .serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 7px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, serif;
  }

  .serv-main-contents.primary {
    height: 205px;
    width: 60%;
    margin-left: auto;
    margin-top: 180px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-primary {
    left: 60px;
    top: calc(-8% + 170px);
    width: 50%;
    height: 17%;
  }

  .serv-main-contents.secondary {
    height: 205px;
    width: 60%;
    margin-right: auto;
    margin-top: 205px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-secondary {
    right: 60px;
    top: calc(-8% + 605px);
    width: 50%;
    height: 17%;
  }

  .serv-main-contents.tertiary {
    height: 205px;
    width: 60%;
    margin-left: auto;
    margin-top: 205px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-tertiary {
    left: 60px;
    top: calc(-8% + 1025px);
    width: 50%;
    height: 17%;
  }
}

/*iPad用のスタイル */
@media screen and (min-width:476px) and (max-width:650px) {
  .intro-contents {
    margin-top: 50px;
  }

  .wrapper {
    width: 90%;
    height: 100px;
    margin: 0 auto;
  }

  .intro-image {
    display: none;
  }

  .intro-innr {
    margin-top: 50px;
    height: 200px;
  }

  .intro-innr h2 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }

  .intro-innr h2 span {
    font-size: 3rem;
  }

  .intro-innr .intro-main {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .serv-contents {
    margin-top: 10px;
  }

  .serv-contents div.serv-heading {
    width: 100%;
  }

  .serv-contents div h2.serv-heading {
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
  }

  .serv-contents h2.serv-heading span {
    font-size: 3rem;
  }

  .serve-main .innr {
    width: 85%;
  }

  .serv-main-contents h4 {
    font-size: 1.5rem;
  }

  .serv-main-contents h3 {
    margin-top: 5px;
    font-size: 2.5rem;
  }

  .serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 7px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, serif;
  }

  .serv-main-contents.primary {
    height: 205px;
    width: 80%;
    margin-left: auto;
    margin-top: 220px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-primary {
    left: 50px;
    top: calc(-8% + 180px);
    width: 70%;
    height: 17%;
  }

  .serv-main-contents.secondary {
    height: 205px;
    width: 80%;
    margin-right: auto;
    margin-top: 255px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-secondary {
    right: 50px;
    top: calc(-8% + 645px);
    width: 70%;
    height: 17%;
  }

  .serv-main-contents.tertiary {
    height: 205px;
    width: 80%;
    margin-left: auto;
    margin-top: 255px;
    padding-top: 25px;
    padding-left: 20px;
  }

  .serve-main .innr .serv-image-tertiary {
    left: 50px;
    top: calc(-8% + 1105px);
    width: 70%;
    height: 17%;
  }
}

/* スマホ用のスタイル */
@media screen and (min-width:365px) and (max-width:475px) {
  .intro-contents {
    margin-top: 30px;
  }

  .wrapper {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    opacity: 1;
  }

  .wrapper .image {
    background-image: url("../images/sea.92e197770281.webp");
    background-position: center center;
  }

  .wrapper video {
    display: none;
  }

  .intro-image {
    display: none;
  }

  .intro-innr {
    margin-top: 70px;
    height: 170px;
  }

  .intro-innr h2 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
  }

  .intro-innr h2 span {
    padding: 0 1rem;
    font-size: 3rem;
  }

  .intro-innr .intro-main {
    margin: 0 auto;
    padding: 0px;
    padding-top: 40px;
    font-size: 1rem;
    opacity: 1;
  }

  .intro-innr h2.active, .intro-innr .intro-main.active {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }

  .serv-contents {
    margin-top: 30px;
  }

  .serv-heading {
    opacity: 1;
  }

  .serv-contents div.serv-heading {
    width: 100%;
  }

  .serv-contents div h2.serv-heading {
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
  }

  .serv-contents h2.serv-heading span {
    padding: 0 1rem;
    font-size: 3rem;
  }

  .serve-main .innr {
    width: 100%;
  }

  .serv-main-contents h4 {
    display: none;
  }

  .serv-main-contents h3 {
    font-size: 2rem;
    margin-top: 0px;
  }

  .serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 1.4rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, serif;
  }

  .serv-main-contents.primary {
    height: 160px;
    width: 75%;
    margin-top: 160px;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-primary {
    left: 20px;
    top: calc(-8% + 180px);
    width: 70%;
    height: 15%;
    opacity: 1;
  }

  .serv-main-contents.secondary {
    height: 160px;
    width: 75%;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 160px;
    padding-top: 10px;
    padding-left: 10px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-secondary {
    right: 20px;
    top: calc(-8% + 495px);
    width: 70%;
    height: 15%;
    opacity: 1;
  }

  .serv-main-contents.tertiary {
    height: 160px;
    width: 75%;
    margin-top: 170px;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-tertiary {
    left: 20px;
    top: calc(-8% + 825px);
    width: 70%;
    height: 15%;
    opacity: 1;
  }
}

/* スマホ用のスタイル */
@media screen and (max-width: 364px) {
  .intro-contents {
    margin-top: 30px;
  }

  .wrapper {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    opacity: 1;
  }

  .wrapper .image {
    background-image: url("../images/sea.92e197770281.webp");
    background-position: center center;
  }

  .wrapper video {
    display: none;
  }

  .intro-image {
    display: none;
  }

  .intro-innr {
    margin-top: 70px;
    height: 170px;
  }

  .intro-innr h2 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
  }

  .intro-innr h2 span {
    padding: 0 1rem;
    font-size: 3rem;
  }

  .intro-innr .intro-main {
    margin: 0 auto;
    padding: 0px;
    padding-top: 40px;
    font-size: 1rem;
    opacity: 1;
  }

  .intro-innr h2.active, .intro-innr .intro-main.active {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }

  .serv-contents {
    margin-top: 30px;
  }

  .serv-heading {
    opacity: 1;
  }

  .serv-contents div.serv-heading {
    width: 100%;
  }

  .serv-contents div h2.serv-heading {
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
  }

  .serv-contents h2.serv-heading span {
    padding: 0 1rem;
    font-size: 3rem;
  }

  .serve-main .innr {
    width: 100%;
  }

  .serv-main-contents h4 {
    display: none;
  }

  .serv-main-contents h3 {
    font-size: 2.3rem;
    margin-top: 10px;
  }

  .serv-main-contents .serv-main-sentence {
    display: block;
    margin-top: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, serif;
  }

  .serv-main-contents.primary {
    height: 150px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 30px;
    padding: 0;
    padding-left: 5px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-primary {
    display: none;
  }

  .serv-main-contents.secondary {
    height: 150px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 30px;
    padding: 0;
    padding-left: 5px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-secondary {
    display: none;
  }

  .serv-main-contents.tertiary {
    height: 150px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 30px;
    padding: 0;
    padding-left: 5px;
    opacity: 1;
  }

  .serve-main .innr .serv-image-tertiary {
    display: none;
  }
}

/* // 最新のsafari用 */
_::-webkit-full-page-media, _:future, :root .wrapper .image {
  background-image: url("../images/sea.92e197770281.webp");
  background-position: center center;
}
_::-webkit-full-page-media, _:future, :root .wrapper video {
  display: none;
}

/* 古いsafari用 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	::i-block-chrome, .wrapper .image {
      background-image: url("../images/sea.92e197770281.webp");
      background-position: center center;
    }
  ::i-block-chrome, .wrapper video {
    display: none;
  }
}
